/* sidebar */
.bs-docs-sidebar {
    padding-left: 1.75%;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 50px;
    float: left;
    position: sticky;
}
/* all links */
.bs-docs-sidebar .nav>li>a {
    color: black;
    padding: 4px 18px;
    font-size: 15px;
    font-weight: 400;
}
/*background when hovered*/
.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a.active {
    color: white;
    background-color: rgb(105, 105, 105);
}
.sidebaractive {
    color: white;
    background-color: rgb(105, 105, 105);
}
/*page header*/
.pageheader {
    min-height: 100%;
    background-image: url('/bilder/slide01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*top-button*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.btn-primary {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #404040;
    border-color: #404040;
}

/*styling code snippets*/
.code-text{
    margin-top: 16px;
    color: #e83e8c;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 15.75px;
}

/*codebox*/
.code-box{
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f0f0f0;
    text-align: left;
    box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.5);
}
 
/*submit button comments*/
.submit-btn{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0.25rem;
  }

figure {
    position: relative;
}

figure img {
    max-width: 100%;
}

figcaption {
    caption-side: bottom;
}

body {
    background-color: rgba(247, 242, 234, 0.836);
}
  